*{
    background-color: rgb(235, 242, 229);
}

h1{
    margin-left: 300px;
}

.tab{
    border-collapse: collapse;
    margin-left: 30px;
}

.tab td{
    padding: 10px;
    border: 2px solid transparent;
    font-size: 14pt;
    border-bottom: 2px solid;
}


.tab_seek{
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.tab_seek td{
    padding: 10px;
    border: 2px solid;
}
